{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}BookEx{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'bookswap/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        
        <h1 class="display-1"><img src="static/bookswap/book.svg" class="logo" width="60px"> BookEx</h1>
        <div class="lead">
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
                Not signed in.
            {% endif %}
        </div>
        <ul class="nav">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
            
            {% endif %}
        </ul>
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>
